.manager-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.customer-container label {
    color: white;
    padding-left: 20px;
    font-size: 20px;
}

.customerselect {
    padding: 10px;
    width: 200px; 
    height: 42px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    margin-left: 10px;
}

    .customerselect option {
        font-size: 16px;
    }


        .customerselect option:first-child {
            font-weight: bold;
            color: #999;
        } 
        {
    padding: 10px;
    width: 200px; 
    height: 42px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    margin-left: 10px;
}

    select option {
        font-size: 16px;
    }

        select option:first-child {
            font-weight: bold;
            color: #999;
        }

    .title-container h1 {
        margin: 0;
        color: white;
        padding-left: 20px;
    }


.add-product-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 20px;
}

.productbutton1, .productbutton2 {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.productbutton1 {
    background-color: green;
}

.productbutton2 {
    background-color: red;
}

    .add-product-button:hover, .productbutton1:hover, .productbutton2:hover {
        background-color: #0056b3;
    }



.product-container-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-container {
    display: flex;
    gap: 20px;
    align-items: stretch;
    overflow-x: auto;
    scroll-behavior: smooth;    
    padding: 0 20px;
    overflow-x:hidden;
    white-space:nowrap;

}

.product-card {
    margin-left:12px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px; 
    height:350px; 
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.product-image {
    width: 100%;
    height: 150px; 
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom:5px;
    margin-top:0px;
}

.product-card h3, .product-card p, .Header-product {
    color: white;
    word-wrap: break-word;
    margin-top:0px;
    margin-bottom:2px;
}

.product-card p {
    font-size: 0.9rem; 
    margin-bottom: 5px;
}

.product-card .price {
    font-weight: bold;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
}

.scroll-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-arrow-left {
    left: 10px;
    color:aqua;
}

.scroll-arrow-right {
    right: 10px;
    color:aqua;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 100%;
}

    .popup-content h2 {
        margin-top: 0;
    }

    .popup-content label {
        display: block;
        margin: 10px 0;
    }

    .popup-content input, .popup-content textarea {
        width: 95%;
        padding: 8px;
        margin-top: 5px;
    }

    .popup-content button {
        margin: 10px 5px;
    }

    .popup-content select {
        width: 99%;
        padding: 8px;
        margin-top: 5px;
    }

.user-name {
    color: white;
    font-size: 24px;
}

.orderlisttitle {
    color:white;
    justify-content:center;
    padding-left:70px;
    padding-top:10px;
}

.orders-salesman-table table {
    width: 90%;
    align-content: center;
    justify-content: center;
    margin-left: 60px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.orders-salesman-table th, .orders-salesman-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color:white;
}

.orders-salesman-table th {
    background-color: #4CAF50;
    color: white;
}

.orders-salesman-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

    .orders-salesman-button:hover {
        background-color: #0056b3;
    }

.orders-salesman-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.orders-salesman-updatebutton {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right:10px;
    cursor: pointer;
}


    .orders-salesman-updatebutton:hover {
        background-color: forestgreen;
    }


    .orders-salesman-updatebutton:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }


.salesmanpagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.salesman-page-button {
    border: none;
    background-color: #f1f1f1;
    color: #333;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .salesman-page-button:hover, .salesman-page-button.active {
        background-color: #007bff;
        color: white;
    }


.category-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.category-tab {
    padding: 10px 20px;
    margin-top:0px;
    margin-bottom:0px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .category-tab.active {
        background-color: #0056b3;
    }

    .category-tab:hover {
        background-color: #0056b3;
    }

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.page-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .page-button.active {
        background-color: #0056b3;
    }

    .page-button:hover {
        background-color: #0056b3;
    }

    .page-button:disabled {
        background-color: grey;
        cursor: not-allowed;
    }
