.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

    .header-left p {
        margin: 0;
        margin-right: 15px;
        font-size: 40px;
        font-weight: bold;
        color:turquoise;
    }

    .header-left .logo {
        height: 40px;
        margin-right: 15px;
    }


.view-order-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px; /* Spacing between the button and SearchProduct */
}

    .view-order-button:hover {
        background-color: #45a049;
    }


.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap:10px;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
    font-size: 16px;
    border-radius: 6px;
    position:relative;
    display:flex;
}

.search-container button {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
}

.home-container {
    width: 500px;
    height: 200px;
    margin: 10px auto;
    opacity: initial;
    text-align: center;
    padding-left: 100px; 
    padding-right:100px;
    padding-bottom:200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    color: white; 
}

    .home-container .homeimage {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #444;
    }

















