.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

    .header-left p {
        margin: 0;
        margin-right: 15px;
        font-size: 40px;
        font-weight: bold;
        color:turquoise;
    }

    .header-left .logo {
        height: 40px;
        margin-right: 15px;
    }

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
    font-size: 16px;
    border-radius: 6px;
}

.search-container button {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
}

.home-container {
    width: 500px;
    height: 200px;
    margin: 10px auto;
    opacity: initial;
    text-align: center;
    padding-left: 100px; 
    padding-right:100px;
    padding-bottom:200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    color: white; 
}

    .home-container .homeimage {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #444;
    }



.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.product-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

    .product-container:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px 0;
}

.product-description {
    font-size: 0.875rem;
    color: #666;
    margin: 0 0 10px;
}

.product-price {
    font-size: 1.125rem;
    color: #333;
    margin: 0;
}