.inventory-popup-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.inventory-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-height: 90vh;
    overflow-y: auto;
    text-align: center;
    position: relative;
}

.inventory-close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.Inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.Inventory-table th, .Inventory-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.Inventory-table th {
    background-color: #f4f4f4;
}